
body{
    background:blue;
}
 #map{
	 height:600px;
     width:800px;
     float:right;
     margin-top: 26px;

 }
 #out{
	 height:300px;
	 width:300px;
 }

 #user-map {
   height:300px;
     width:450px;
     float:right;
     margin-top: 26px;
     margin-right: 16px;

 }


 img{
     height: 300px;
     width: 300px;
 }

 #floating-panel {

    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }




#grad {
    background-image: linear-gradient(#e3f2fd, #4f7cf9);
   }

  #map{
 	 height:300px;
      width:450px;
      float:right;
      margin-top: 26px;
      margin-right: 26px;

  }


  #map-container{
     float:right;
  }

  #format {
    float: left;
  }


  img{
      height: 300px;
      width: 300px;
  }



  form .btn {
    background-color: blue;
  }



  .btn:hover {
   color:green;
 }

 h4 {
   font-family: "Arial", sans-serif;

 }

 .pads {
   margin-top: 26px;
   margin-left: 26px;
 }


 .form-holder{
     background: skyblue;
     width:450px;
     height:400px;
 }

 h1{
     margin-bottom: 15px;
 }

 .flash {
   color:red;
  }

 .number {
   color:green;
 }


 .word {
   font-family: "Arial", sans-serif;

 }
