<<<<<<< HEAD
































































=======
<h2><%= @place.name %></h2>
<h3>Average User Rating: <%= @place.average_rating %></h3>
<h2><%= button_to "Add Place to Profile", add_up_path(@place.id)  %></h2>
>>>>>>> 5d8e67a094762d32521d0c761b20127aa5392ba0
